* {
  box-sizing: border-box;
}

html {
  line-height: 1.6;
  font-size: 13px;
  @media screen and (min-width: 980px) {
    font-size: 16px;
  }
}

body {
  font-size: rem(18px);
  direction: rtl;
  font-family: FbOgen;
  margin: 0;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  footer {
    margin-top: auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
