* {
    box-sizing: border-box;
}

html {
    font-family: montserrat;
    line-height: 1.6;
}

body {
    font-size: rem(18px);
    direction: rtl;
    font-family: FbOgen;
    margin: 0;
    // background-color:  #48976C;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    footer {
        margin-top: auto;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}