@font-face {
    font-family: FbOgen;
    src: url(../../fonts/FbOgen-Regular.otf);
}
@font-face {
    font-family: FbOgen-bold;
    src: url(../../fonts/FbOgen-Bold.otf);
}
@font-face {
    font-family: FbOgen-black;
    src: url(../../fonts/FbOgen-Black.otf);
}