.gearbox-pick,
.gender-pick {
    padding-top: 10vh;
    font-family: FbOgen;
    color: white;
    @include questionnaireCenter;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & button {
        margin-top: 4em;
        @include questionnaireSimpleButton;
    }
}

.type-pick,
.luggage-pick,
.features-pick,
.accessories-pick {
    padding-top: 10vh;
    color: white;
    font-family: FbOgen;
    @include questionnaireCenter;

    & h1 {
        font-weight: 100;
    }

    & small {
        font-size: 0.8em;
        font-weight: lighter;
        height: 23px;
    }

    & button {
        margin-top: 4em;
        @include questionnaireSimpleButton;
    }
}

.types-container,
.luggage-container,
.features-container,
.accessories-container {
    padding-top: 5vh;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;

    & .questionnaire--dynamic-options {
        background-color: white;
        color: $clr1;
        width: 150px;
        height: 65px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    & .questionnaire--dynamic-options:hover {
        cursor: pointer;
    }

    & .questionnaire--dynamic-options.picked {
        background-color: $clr2;
        color: white;
    }
}