.home-page {
  color: white;
  font-family: FbOgen;
  @include questionnaireCenter;
  .homepage-logo {
    margin-top: 4vh;
    position: relative;
    z-index: 3;
    background-color: black;
  }
  .intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    h1 {
      font-size: 2em;
      font-weight: 100;
    }
    h3 {
      font-weight: lighter;
      font-size: 1.5em;
      span {
        font-weight: bold;
      }
    }
  }
  button {
    @include questionnaireSimpleButton;
    margin: 1em;
  }
  .homepage-car {
    width: 55%;
    z-index: 3;
  }
  @media (max-width: 700px) {
    padding: 0 15px;
    text-align: center;
    .homepage-car {
      margin-top: 1em;
      width: 75%;
    }
    button {
      @include questionnaireSimpleButtonMobile;
      margin: 1em;
    }
  }
}
